POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=book_review

SECRET_KEY_BASE=your_secret_key_base
RAILS_MAX_THREADS=5

REDIS_URL=redis://redis:6379/0

DATABASE_URL=postgres://postgres:your_password@db:5432/book_review